 img {
  float: left;
  padding: 30px;
}
.container h3 {
  padding: 20px;
}
.jumbotron {
  background-color: #99ccff;
}
.sidebar {
  float: right;
  width: 30%;
  border: 3px solid #339933;
  padding: 10 px;
  margin: 5px;

}
.sidebar h2{
  text-align: center;
}
.column {
  width: 30%;
}

body {
  background-color: #e5e5ff;
 }
